*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: rgba(0, 0, 0, 0.6) url('https://wallpaperset.com/w/full/6/1/a/124675.jpg') center center fixed;
    background-size: cover;
    background-blend-mode: darken;
}
.container{
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container h1 img{
    height: 40px;
    width: 180px; 
}
.navbar u1 li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
.navbar u1 li a{
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    transition: 1s;
    justify-content: left;
    text-align: left;
    
}
.navbar u1 li a:hover{
    background-color:rgb(252, 20, 140);
}
.content{
    position: absolute;
    margin-top: 11%;
    margin-left: 15%;
}
.content h1{
    font-size: 60px;
      
}
.search{
    position: absolute;
    margin-top: 22%;
    margin-left: 15%;
}
.search input{
    padding: 20px;
    width: 500px;
    border:0;
    outline: none;
border-radius: 30px; 
}
.submit{
    position: absolute;
    margin-top: 28%;
    margin-left: 30%;
    

}
.submit a{
    padding: 17px 24px;
    background-color:rgb(252, 20, 140);
    text-decoration: none;
    border-radius: 30px;

}
.main{
    position: absolute;
    margin-top: 40%;
    margin-left: 6%;

}
.popular{
    position: absolute;
    margin-top: 35%;
    margin-left: 6%;
    font-size: 35px;
    font-weight: bold ;
}
.carousel-inner{
    margin-top: 12%;
    width: 1000px;
    height: 750px;
    margin-left: 10.5%;
}
.powerful{
    margin-top: 72%;
    font-size: 35px;
    font-weight: bold;
    margin-left: 15%;
}
.para{
    margin-top: 50%;
    font-size: 35px;
    font-weight: bold;
    margin-left: 15%;

}
.support{
    margin-top: 3%;
    font-size: 18px;
    margin-left: 15%;
    font-weight: bold;

}
.media p img{
    height: 30px;
    width: 30px;
    margin-top:-27.25%;
    margin-left: 15%;
}
.social{
    margin-top: 3%;
    font-size: 15px;
    margin-left: 18%;
}

















